/* landing page banner */

figure.landing-banner {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 24px 0;
}

figure[class*=landing-] img{
    display: block;
    width: 100%;
    height: auto;
}

figure[class*=landing-] figcaption {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    color: white;
    height: max-content;
    max-height: 100%;
}

figure.landing-banner figcaption {
    min-height: 50%;
    font-size: var(--font-size--normal);
    border-radius: 24px 24px 0 0;
}


figure[class*=landing-] figcaption p {
    position: relative;
    height: fit-content;
    padding: 16px 16px;
    margin: 0;
    text-align: justify;
}

figure[class*=landing-] figcaption p a {
    text-decoration: none;
}

figure[class*=landing-] figcaption p a.headerlink {
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
}

figure[class*=landing-] figcaption p code {
    background: none;
    border: none;
}

/* landing page category-blocks */

div.landing-cate-wall {
    padding: 24px 0;
}

div.landing-cate-line {
    justify-content: space-between;
    display: flex;
}

div.landing-cate-line figure:first-child {
    margin-left: 0;
}

div.landing-cate-line figure:last-child {
    margin-right: 0;
}

figure.landing-cate {
    position: relative;
    box-sizing: border-box;
    display: inline;
    width: 30%;
}

figure.landing-cate figcaption {
    --font-size--large: 125%;
    font-size: var(--font-size--large);
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

figure.landing-cate figcaption:hover {
    opacity: 1;
}

figure.landing-cate figcaption p a {
    color: white;
}

/* landing headers */
div.dashed {
    text-align: center;
}

/* logo */
a.sidebar-brand {
    flex-direction: row;
    padding: var(--sidebar-item-spacing-vertical) 0;
    align-items: center
}

a.sidebar-brand div.sidebar-logo-container {
    margin: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
    width: fit-content;
}

a.sidebar-brand div.sidebar-logo-container img.sidebar-logo {
    height: 32px;
    margin-top: 1px; /* fix not aligned */
}

a.sidebar-brand span.sidebar-brand-text {
    width: fit-content;
    margin: var(--sidebar-item-spacing-vertical) 0;
}

/* mobile */

@media (max-width: 67em) {
    figure.landing-cate figcaption {
        opacity: 1;
    }
}
